

.cuadricula1 {
    display: flex;
    width: 35%; /* Cambiado a un porcentaje del ancho de la ventana */
    height: auto; /* Usando "auto" para que se ajuste automáticamente según el contenido */
    background-color: white;
    border-radius: 2%;
    border: 3px solid black;
    justify-content: left; /* Debes cambiar "left" a "flex-start" */
    position: absolute;

    left: 15%; /* Cambiado a un porcentaje del ancho de la ventana */
    top: 55%; /* Cambiado a un porcentaje del alto de la ventana */
    font-size: 1.5vw; /* Utilizando "vw" para que sea relativo al ancho de la ventana */
    text-align: justify;
    padding: 2% 4%; /* Usando porcentajes para que sea relativo al tamaño del elemento */
    margin: 2%; /* Usando porcentajes para que sea relativo al tamaño del elemento */
    align-items: flex-start; /* Debes cambiar "start" a "flex-start" */
}



/*Fuente*/



/*Animacion Galeria de fotos*/

h2 {
    text-align: center;

}





body {
    font-size: 16px;
    background-image: url("../img/Mario/Fondo.jpg");
    font-family: 'Super Mario 3D World Remake';

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    top: 170%;

}

.box {
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
}

.box img {
    width: 100%;
    transition: all linear 0.2s;
    
}

img.hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.box:hover img {
    opacity: 0;
}

.box:hover img.hover-img {
    opacity: 1;
}

.box img {
    width: 100%;
    transition: all linear 0.2s;

}

img.hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    color: black;

}

.box:hover img {
    opacity: 0;
    transform: scale(1.2);
}

.box:hover img.hover-img {
    opacity: 1;
    transform: scale(1.2);

}


.box img {
    width: 100%;
    transition: all linear 0.2s;
}

.box .textMario {
    text-align: center;
    padding: 10px;
    font-size: 42px;
    position: absolute;
    
    bottom: 0;
    top: 70%;
    left: 0;
    width: 100%;
    opacity: 1;
    transition: opacity 0.2s;

    font-family: 'Super Mario 3D World Remake';
    src: url('../fonts/supermario3dworldremake.otf') format('otf');
    font-weight: normal;
    font-style: normal;
    
    
}

.textMario{
    font-family: 'Super Mario 3D World Remake';
    src: url('../fonts/supermario3dworldremake.otf') format('otf');
    font-weight: normal;
    font-style: normal;
    
}


/*Imagen*/

.banner img {
    position: relative; /* Cambia "relative" por "absolute" si quieres posicionarla con respecto a un elemento padre */
    left: 25%; /* Mueve la imagen 50 píxeles hacia la derecha */
    top: 20%; /* Mueve la imagen 20 píxeles hacia abajo */
}




/*Imagen de Titulo*/



article {
    position: relative;
    width: 250px;
    left: 70%;
    transition: all 0.3s ease;
}



article img:first-child {
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
}

article img:last-child {
    position: absolute;
    width: 75px;
    bottom: 0;
    left: -10%;
    top: -30%;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: all 0.3s ease;
    opacity: 0;
    transform: scale(1.6);
    z-index: 3;
}

article:hover img:first-child {
   filter: brightness(20%);
   
}

article:hover img:last-child {
    opacity: 1;
    transform: translateY(10%);
}

@font-face {
    font-family: 'Super Mario 3D World Remake';
    src: url('../fonts/supermario3dworldremake.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

article::before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: none;
    background: rgba(0, 0, 0, 0.0);
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 11px;
    font-family: 'Super Mario 3D World Remake';
    font-size: 50px;
    transition: all 0.3s ease;
    z-index: 2;



    
}

article:hover::before {
    display: block; /* Mostrar el texto cuando se hace hover */  
}


